.card-actions{
    display: flex;
    justify-content: flex-end;
}

.mat-paginbator{
    width: 100%;
}

.edit-btn
{
    background-color: lightblue !important;
    color: #222 !important;
}

.delete-btn
{
    background-color: lightcoral !important;
    color: #fff !important;
}

.mat-mdc-header-row{
    background-color: #5f5f5f;
    color: #fff;
}

.card-title{
    font-size: 30px;
    padding: 20px;
}

.m-around{
    margin: 20px;
}